<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.Email %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @contact.Asunto %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @contact.Mensaje %>
</p>





